ul {
  list-style: none;
}
li {
  border: 2px solid #c0c0c0;
  padding-top: 5px;
  padding-left: 20px;
 
}
li:hover {
  background-color: #e7ebff;
  border: 2px solid #2a9fcd;
}
a {
  text-decoration-style: none;
  color: black;
}
a:hover {
  text-decoration-style: none;
  color: black;
}
.headDataAnalysis {
  font-size: 16px;
  font-family: Arial;
  padding-top: 10px;
  padding-bottom: 4px;
}
hr {
  border-top: 10px solid red;
}

.input-group {
  width: 100% !important;
}
